// Navigation code here
nav {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gainsboro;
    //margin: 15px 0px;
    background-color: whitesmoke;
    .nav-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px 0px 10px;
    }

    .inner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        //justify-content: center;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;  

        .nav-section {
            display: flex;
            justify-content: center;
            width: 55%;
            margin: 15px 0px 20px;
            h1 {
                font-size: 4rem;
            }
            @media @phone {
                width: 80%;
            }
        }
        .nav-section:last-child {
            display: flex;
            justify-content: space-between;
            margin: 0px 0px 10px;
        }
    }

    

    a {
        display: flex;
        text-decoration: none;
        color: @main-font-color;
        font-size: 1.6rem;
    }
}